# IDE Settings
.idea/
.vscode/

# Testing & Local Data Archives
dryrun/
*.tar.bz2
*.tar.gz

# Pipeline Output Databases & Temporary Files
*.db
*.db.zst
*.tsv
*.wal
*.duckdb
duckdb_spill_buffer/
engine_runtime.duckdb*

# Other
/do_not_track/

# Do track
!test_mbdump.tar.bz2