# IDE Settings
.idea/
.vscode/

# Testing & Local Data Archives
dryrun/
*.tar.bz2
*.tar.gz

# Pipeline Output Databases & Temporary Files
*.db
*.tsv
*.wal
/duckdb_working.db.tmp/
/.duckdb_tmp/

# Other
/do_not_track/
